html, #root, body {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size, 16px);
}

.fundo-gradiente {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 50% 52.5%,  rgba(14,53,92,1) 0%, rgba(16,14,72,1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizar-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-logo {
    padding: 2em;
}

.conteudo-logo a {
    text-decoration: none;
    color: oklch(.809 .105 251.813);
    text-align: center;
}

.conteudo-logo a span {
    width: 300px;
    height: 100px;
    text-align: center;
    margin: 0px 7px 0px 7px;
}

.conteudo-logo p {
    color: oklch(.932 .032 255.585);
}

.conteudo-logo h1 {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.text-label {
    font-weight: bold;
}

.logo {
    width: 97.5px;
    height: 130.5px;
    margin-bottom: 20px;
}

.coluna-principal {
    width: 100%;
    background-color: white;
    box-shadow: 0 0px 15px 10px rgba(0, 0, 0, 0.1);
}

.help-button {
    color:black;
    background: white;
    border-color: white;
    border-radius: 50%;

    &:hover, &:focus, &:active {
    background-color: white !important;
    border-color: white !important;
    }
}

.input-label {
    display: flex;
    justify-content: start;
    align-items: center;
}

.botoes-laterais {
    position: fixed;
    right: 20px;
    bottom: 30px;
}

.botoes-laterais svg {
    position: fixed;
    align-items: center;
    justify-content: center;
}

.circle-button {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.submit-button {
    width: 100%;
}

.tecla {
    font-family: var(--default-mono-font-family);
    display: inline-block;
    background-color: oklch(0.968 0.007 247.896);
    color: oklch(0.372 0.044 257.287);
    border-style: solid;
    border-radius: 5px;
    border-width: 0.8px;
    border-color: rgba(0, 0, 0, 0.1);
}

.azul-icone {
    color: oklch(.546 .245 262.881);
}

.centralizar-linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}